body,
html {
  margin:0;
  padding:0;
  color:#000;
  backbround:#ECECEA
}

#wrap {
  width:750px;
  margin:0 auto;
  background:#558C89;
}

#header {
  padding:5px 10px;
  background:#558C89;
}

h1 {
  margin:0;
  color:#D9853B;
  font-weight: bold;
  font-family: sans-serif;
  font-variant: small-caps;
  text-align: center;
}
h2 {
  margin:0 0 1em;
  color: purple;
  font-weight: lighter;
  font-family: serif;
  font-variant: small-caps;
  text-align: center;
}

#nav {
  padding: 5px 10px;
  background:#D9853B;
}

#nav ul{
  margin:0;
  padding:0;
  list-style: none;
}

#nav li{
  display:inline;
  margin:0;
  padding:0;
}

#main{
  float:left;
  width:480px;
  padding:10px;
  background:#74AFAD;
}

#sidebar{
  float:right;
  width:230px;
  padding:10px;
  background:#558C89;
}

#footer{
  clear:both;
  padding:5px 10px;
  background:#D9853B;
}

* html #footer {
  height:1px;
}

#footer p {
  margin:0;
}
